.appContainer {
  background-color: rgb(29, 42, 53);

  .appWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 2.3rem;
    .header {
      width: 100%;
      background-color: rgb(56, 68, 77);
      padding: 0.3rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      .btn {
        border: none;
        padding: 0.3rem 1rem;
        background-color: green;
        color: white;
        font-weight: bold;
        border-radius: 0.5rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .childWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      .paneTop {
        flex: 1;
        display: flex;
      }
      .btnContainer {
        padding: 0.5rem 0;
        margin-top: 1rem;

        .btn {
          background: transparent;
          border: 2px rgb(9, 167, 9) solid;
          color: rgb(9, 167, 9);
          padding: 0.3rem 1rem;
          font-weight: bold;
          border-radius: 5px;
          & {
            cursor: pointer;
          }
        }
      }
      .paneBottom {
        background-color: white;
        display: flex;
        align-items: center;

        .outpuBx {
          min-height: 50vh;
          
        }
        .outputContainer {
          width: 100%;
          overflow: hidden;
          padding: 1rem;
          background-color: #263238;
          color: white;
        }
      }
    }
  }
}

